*{
    margin: 0%;
    padding: 0%;
}

h2{
    text-align: center;
    color: white;
    background: brown;

}
.boyshostal{
    text-align: center;
    justify-content: center;
}
.raja{
    background:red;
    color:#fff;
    display: flex;
        align-items:right;
        justify-content:right;
        position: sticky;
        top: 0;
        cursor: pointer;
    
}